{% extends 'Padre.html' %}

{% load static %}

{% block titulo %}

<h1 class="mx-auto my-0 text-uppercase">MY CLIENTS</h1>

{% endblock %}


{% block content_change %}

<h1>Add a new client</h1>
    
    {% if formulario.errors %}

    <p style="color: red;"> Error. Try Again.</p>

    {% endif %}

        <form action="{% url 'Clients_view' %}" method="POST"> {% csrf_token %}
        
        <table>
            {{ formulario.as_table }}
        </table>
        <input type="submit", value="Enviar">
    </form>

{% endblock %} 