{% extends 'Padre.html' %}

{% load static %}

{% block titulo %}

<h1 class="mx-auto my-0 text-uppercase">JOBS SECTION</h1>

{% endblock %}


{% block content_change  %}

<h1>Add a new job</h1>

{% if formulario.errors %}

<p style="color: red;"> Error. Try Again.</p>

{% endif %}

<form action="{% url 'jobs_view' %}" method="POST"> {% csrf_token %}

    <table>
        {{ formulario.as_table }}
    </table>
    <input type="submit" value="Enviar">

</form>

<a class="btn btn-success" href="{% url 'jobs_view' %}">Want to add a new job?</a>

{% endblock %}    